# This file controls default reviewers for Starbucks China App code.
# See https://help.github.com/en/articles/about-code-owners
# for details
#
# Maintainers are encouraged to use their best discretion in
# setting reviewers on PRs manually, but this file should
# offer a reasonable automatic best-guess

# branch/release code
*  @arthurcsh @abnerxue



